{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="latest__item">
	<div class="latest__img">
		<a href="artikel.html">
			{{#if duration}}
			<span class="icon icon-play"></span>
			{{/if}}
			<img src="https://asset.kompas.com/crop/0x0:0x0/90x90/data/photo/{{img}}" alt="{{title}}">
			{{#if duration}}
			<div class="videos__latest__box">
				<div class="videos__duration">{{duration}}</div>				
			</div>
			{{/if}}
		</a>
	</div>
	<div class="latest__right">
		<h4 class="latest__subtitle"><a href="kanal.html">{{subtitle}}</a></h4>
		<h2 class="latest__title">
			<a href="artikel.html" class="latest__link">{{title}}</a>
		</h2>
		<date class="latest__date">25 September 2019, 23:12 WIB</date>
	</div>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}
