{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="videos__item">
	<div class="videos__img">
		<a href="artikel-video.html">
			<span class="icon icon-play"></span>
			{{#eq @index compare=1}}
			<img src="{{img}}" alt="{{title}}">
			{{else}}
			<img src="{{img}}" alt="{{title}}">
			{{/eq}}
		</a>
	</div>
	{{#eq @index compare=14}}
	<div class="videos__box">
		<div class="videos__info">
			<h2 class="videos__title">
				<a href="artikel-video.html" class="videos__link">{{title}}</a>
			</h2>
		</div>
		<div class="videos__info2">
			<div class="videos__duration">{{duration}}</div>
			<date class="videos__date">25/10/2019</date>
		</div>
	</div>
	{{/eq}}
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}
